.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
@media (max-width: 500px) {
  .sections {
    flex-direction: column;
  }
}
.little_btn {
  padding: 1%;
  margin-top: 3%;
  width: 35%;
  cursor: pointer;
  transition: 400ms ease;
}
.little_btn:hover {
  background-color: #fcc065;
  color: #321205;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #ffe6ad;
  color: #321205;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
  font-family: 'lato', sans-serif;
}
@media (max-width: 500px) {
  body {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
h1 {
  font-size: 3.5rem;
  color: #ffe6ad;
  font-family: 'Sigmar One', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.4rem;
  }
}
h3 {
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.3rem;
  }
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #321205;
  font-family: 'lato', sans-serif;
}
@media (max-width: 500px) {
  a {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
p {
  line-height: 1.6rem;
}
@media (max-width: 500px) {
  p {
    font-size: 0.9rem;
  }
}
img {
  border-radius: 10px;
}
button {
  font-family: 'lato', sans-serif;
  font-size: 1rem;
  background-color: #321205;
  color: #ffe6ad;
  border-radius: 5px;
  padding: 1%;
  margin-top: 3%;
  width: 35%;
  cursor: pointer;
  transition: 400ms ease;
}
button:hover {
  background-color: #fcc065;
  color: #321205;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/header.png");
  height: 58vh;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 8px;
  margin-left: 7%;
  padding-left: 1%;
  padding-bottom: 1%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: flex-start;
    margin-left: 1%;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row ;
  width: 40%;
  background-color: #ffe6ad;
  border-radius: 5px;
  margin-bottom: 18%;
  margin-left: 42%;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    width: 50%;
    height: 10%;
    margin-bottom: 10%;
    margin-left: 48%;
  }
}
header nav a {
  display: flex;
  align-items: flex-start;
  margin: 2% 1%;
  padding: 1%;
}
@media (max-width: 500px) {
  header nav a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 2%;
  background-color: #321205;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1rem;
  color: #ffe6ad;
}
@media (max-width: 500px) {
  footer {
    height: 10vh;
  }
}
footer img {
  height: 60%;
}
@media (max-width: 500px) {
  footer p {
    font-size: 0.7rem;
  }
}
footer a {
  color: #ffe6ad;
  font-size: 0.7rem;
}
@media (max-width: 500px) {
  footer a {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
  }
}
.sub {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #fff1bd;
  text-align: center;
  margin-right: 10%;
  width: 100%;
}
@media (max-width: 500px) {
  .sub {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
  }
}
.intro {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 500px) {
  .intro {
    width: 90%;
    margin-left: 5%;
  }
}
.first_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  text-align: center;
}
@media (max-width: 500px) {
  .first_section {
    flex-direction: column;
  }
}
.first1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30%;
  margin-left: 7%;
}
@media (max-width: 500px) {
  .first1 a {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .first1 {
    width: 90%;
    margin-left: 6%;
    margin-bottom: 3%;
  }
}
.second {
  display: flex;
  flex-direction: row;
}
.second_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  text-align: center;
  width: 100%;
  background-color: #fff1bd;
  padding-top: 1%;
  padding-bottom: 1%;
}
@media (max-width: 500px) {
  .second_section {
    flex-direction: column;
  }
}
#btn_large {
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #321205;
  color: #ffe6ad;
  border-radius: 5px;
  padding: 1%;
  margin-left: 35%;
  transition: 400ms ease;
}
@media (max-width: 500px) {
  #btn_large {
    width: 60%;
    margin-left: 20%;
  }
}
#btn_large:hover {
  background-color: #fcc065;
  color: #321205;
}
.spotlight {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
@media (max-width: 500px) {
  .spotlight img {
    margin-left: 3%;
    height: 70%;
  }
}
@media (max-width: 500px) {
  .spotlight {
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }
}
.spot2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 500px) {
  .spot2 a {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .spot2 {
    width: 90%;
    text-align: center;
  }
}
