.sub{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: @altColor;
    text-align: center;
    margin-right: 10%;
    width: 100%;

    @media @mobile{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        margin-left: 1%;
    }
}

.intro{
    display: flex;
    justify-content: center;
    
    width: 60%;
    margin-left:20%;
    
    @media @mobile{
        width: 90%;
        margin-left: 5%;;
    }
}

.first_section{
    .sections();
    text-align: center;  
    margin-left: 5%; 

    a:hover{
        font-size: 1.7rem;
        text-decoration: underline;
        font-weight: bold;
        transition: ease 200ms;
    }
}
.first1{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2%;
    
    
    @media @mobile{
        width: 90%;
        margin-left: 6%;
        margin-bottom: 3%;
    }

    a{
        @media @mobile{
            font-size: 1.2rem;
        }
    }

    
}

.second{
    display:flex;
    flex-direction: row;

}
.second_section{
    .sections();
    text-align: center;
    width:100%;
    background-color: @altColor;
    padding:1%;


}

#btn_large {
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: @darkColor;
    color: @mainColor;
    border-radius: 5px;
    padding: 1%;
    margin-left: 35%;
    transition: 400ms ease;

    @media @mobile{
        width: 60%;
        margin-left: 20%;
    }

    &:hover{
        background-color: #fcc065;
        color:@darkColor;
    }
}

.spotlight{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;

    img{
        @media @mobile{
            margin-left: 6%;
            height: 70%;
        }
    }
  

    @media @mobile{
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
    }
   
}

.spot2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;

    a{
        &:hover{
            font-size: 1.7rem;
            text-decoration: underline;
            font-weight: bold;
            transition: ease 200ms;
        }

        @media @mobile{
            font-size:1.2rem;
        }
    }

    @media @mobile{
        width: 90%;
        text-align: center;
        
    }
}