header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/header.png");
    height: 58vh;
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 8px;
    margin-left: 7%;
    padding-left: 1%;
    padding-bottom: 1%;
    
    
    @media @mobile{
        display: flex;
        height:20vh;
        width:100%;
        align-items: flex-start;
        margin-left: 1%;
        background-image: url("../img/header2.png");
        
    }

    nav{
        display:flex;
        justify-content: flex-end;
        flex-direction:row ;
        width: 40%;
        background-color: @mainColor;
        border-radius: 5px;
        margin-bottom: 18%;
        margin-left: 51%;

        @media @mobile{
            display: flex;
            width: 50%;
            height: 10%;
            margin-bottom: 14%;
            margin-left: 48%;
        }

        a{
            display:flex;
            align-items: flex-start;
            margin: 2% 1%;
            padding:1%;
           

            @media @mobile{
                display:flex;
                align-items: center;
                margin: 0;
                padding: 2%;

            }
        }
    
    
    }
}